.container {
    max-width: 960px;

    flex-grow: 1;
    margin: 0 auto;
    position: relative;
    width: 100%;

    &.is-medium {
        max-width: 680px;
    }

    &.is-large {
        max-width: 1125px;
    }
}
