@use "../abstract/variables/" as *;
@use "../abstract/mixins" as *;

$grid-gap: (
    's': 0.5em,
    'm': 1em,
    'lg': 1.25em,
    'xl': 1.5em,
);

// need to organize it, but for now it does it job
.is-grid {
    display: grid;

    @for $i from 0 through 12 {
        .span-col-#{$i} {
            grid-column: span $i + 1;
        }
        .span-row-#{$i} {
            grid-row: span $i + 1;
        }

        .start-col-#{$i} {
            grid-column-start: $i;
        }

        .end-col-#{$i} {
            grid-column-end: $i;
        }

        .start-row-#{$i} {
            grid-row-start: $i;
        }

        .end-row-#{$i} {
            grid-row-end: $i;
        }

        &.cols-#{$i} {
            grid-template-columns: repeat($i, 1fr);
        }

        &.rows-#{$i} {
            grid-template-rows: repeat($i, 1fr);
        }
    }

    .end-col {
        grid-column-end: 13;
    }

    @each $name, $gap-size in $grid-gap {
        &.grid-gap-#{$name} {
            gap: $gap-size;
        }
    }

    // responsive behaviour
    @each $name, $value in $breakpoints {
        $gap-size: map-get($grid-gap, $name);

        @include breakpoint($name) {
            @for $i from 0 through 12 {
                .#{$name}-span-col-#{$i} {
                    grid-column: span $i + 1;
                }

                .#{$name}-span-row-#{$i} {
                    grid-column: span $i + 1;
                }

                .#{$name}-start-col-#{$i} {
                    grid-column-start: $i;
                }

                .#{$name}-end-col-#{$i} {
                    grid-column-end: $i;
                }

                .#{$name}-start-row-#{$i} {
                    grid-row-start: $i;
                }

                .#{$name}-end-row-#{$i} {
                    grid-row-end: $i;
                }

                &.#{$name}-cols-#{$i} {
                    grid-template-columns: repeat($i, 1fr);
                }

                &.#{$name}-rows-#{$i} {
                    grid-template-rows: repeat($i, 1fr);
                }
            }

            &.#{$name}-grid-gap-#{$name} {
                gap: $gap-size;
            }
        }
    }
}
