.buttons {
    display: flex;
    .button {
        margin-right: 0.5em;
    }
}

.button {
    position: relative;
    display: inline-block;

    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box; /* Firefox, other Gecko */
    box-sizing: border-box; /* Opera/IE 8+ */

    border: 2px solid transparent;
    border-radius: 5px;

    padding: 0.5em 1em;

    vertical-align: baseline;
    text-align: center;
    text-decoration: none;
    cursor: pointer;

    &.with-icon {
        display: inline-flex;
        justify-content: center;
        align-items: center;

        &.vertical {
            flex-direction: column;
        }

        &.is-left {
            flex-direction: row-reverse;
            .icon {
                margin-right: 0.5em;
            }
        }

        &.is-right {
            flex-direction: row;
            .icon {
                margin-left: 0.5em;
            }
        }
    }
}
