@use "../abstract/variables" as *;

$icon-size: 8px * 2 !default;

.icon {
    font-size: $text-base-size;
    width: $icon-size;
    height: $icon-size;

    display: inline-flex;
    justify-content: center;
    align-items: center;

    @each $name, $clrs in $main-colors {
        $background: nth($clrs, 1);
        $color: nth($clrs, 2);

        &.is-#{$name} {
            color: $background;
        }
    }
}
