@use "../abstract/variables" as *;
@use "../abstract/mixins" as *;

.tag-list {
    .tag {
        margin: 0.25em;
    }
}

.tag {
    display: inline-block;
    border-radius: $radius;
    background-color: hsla(0, 0%, 100%, 0.05);
    padding: 0.5em;
}
