@import "../abstarct/all";
@import "../base/utilities.scss";
@import "../base/mixins.scss";

.hero {
    @include flex-row();

    &-image {
        width: min(33%, 200px);
        flex-shrink: 0;

        img {
            border-radius: $radius;
        }
    }

    &-content {
        max-height: 300px;
        display: block;

        @include flex-column() {
            justify-content: space-between;
            flex-grow: 1;
        }
        text-align: center;

        .content-name {
            font-size: 1.2em;
            font-weight: $weight-bold;
        }
        .content-desc {
            overflow: hidden;
            text-overflow: ellipsis;

            display: -webkit-box;
            -webkit-line-clamp: 4; /* number of lines to show */
            -webkit-box-orient: vertical;

            color: darken($text, 20%);
            font-size: 12px;
        }

        .content-meta {
            .content-genre {
                background-color: #13141e;
                border-radius: $radius;
                display: inline-block;
            }

            .content-rating {
                @include flex-row() {
                    justify-content: center;
                }
                .icons {
                    color: rgb(204, 167, 44);
                }
                .value {
                    background-color: #13141e;
                }
            }
        }

        // from tablet to desktop
        @include tablet() {
            text-align: left;
            .content-desc {
                -webkit-line-clamp: 12;
            }
            .content-meta {
                @include flex-row() {
                    justify-content: space-between;
                    align-items: center;
                }
            }
        }

        @include desktop() {
            .content-desc {
                -webkit-line-clamp: 14;
            }
        }
    }
}
