@use "./variables" as *;

// Stlying
@mixin text-decorator($width: 60px, $height: 10px, $clr: $primary) {
    margin-bottom: $height * 2;

    &::after {
        background: linear-gradient(90deg, $clr 0%, lighten($clr, 10%) 100%);
        border-radius: 1.5px;

        content: '\000a0';
        position: absolute;
        width: $width;
        height: $height;

        left: 0;
        bottom: 0;

        margin-bottom: -8px;
    }
}

// reponsive mixins
$gap: 32px;

$mobile: 470px;
$tablet: 769px;
$desktop: 960px + (2 * $gap);

@mixin mobile {
    @media screen and (max-width: $mobile) {
        @content;
    }
}

@mixin tablet {
    @media screen and (min-width: $tablet) {
        @content;
    }
}

@mixin desktop {
    @media screen and (min-width: $desktop) {
        @content;
    }
}
