.header {
    display: flex;
    align-items: center;
    padding: 0.5em;

    .header-left {
        margin-right: auto;

        text-align: left;
        flex: 0 1 33.33%;
    }
    .header-center {
        margin-right: auto;
        margin-left: auto;

        text-align: center;
        flex: 1 1 33.33%;
    }

    .header-right {
        margin-left: auto;

        text-align: right;
        flex: 0 1 33.33%;
    }
}
