@use "../abstract/variables" as *;
@use "../abstract/mixins" as *;

.hero {
    .hero-background {
        position: absolute;
        contain: content;
        height: 100%;

        top: 0;
        bottom: 0;
        left: 0;
        right: 0;

        .is-background,
        img {
            @include as-background();
        }

        .image {
            background: linear-gradient(180deg, rgba($dark, 35%) 0%, $dark 100%);
        }

        border-radius: $radius;
    }
}
