@use "../abstract/mixins" as *;
@use "../abstract/variables" as *;

.modal {
    position: absolute;
    display: none;

    overflow: hidden;

    left: 0;
    right: 0;

    .modal-content {
        .modal-header {
        }

        .modal-body {
            background-color: $black-ter;
            border-bottom-right-radius: $radius;
            border-bottom-left-radius: $radius;
        }

        .modal-body ~ .modal-body {
            background-color: rgba($dark, 25%);
        }

        // .modal-footer {

        // }
    }
}
