@use "../abstract/variables" as *;
@use "../abstract/mixins" as *;

movie-card,
.movie-card {
    display: flex;

    .card-cover {
        flex: 1 1 45%;
        max-width: 250px;

        .movie-title {
            text-align: center;

            font-weight: $weight-semibold;
            font-size: $size-normal;
        }
    }

    .movie-summary {
        flex: 1 1 75%;
        margin-left: 0.5em;
    }
}
