@use "../abstract/variables" as *;
@use "../abstract/mixins" as *;

$button-padding-vertical: 0.5em;
$button-padding-horizontal: 1em;

$button-background-color: rgba($white, 25%);

button,
.button {
    @include unselectable();
    display: inline-flex;
    text-align: center;
    cursor: pointer;
    border: none;
    white-space: nowrap;
    justify-content: center;

    border-radius: $radius;
    background-color: $button-background-color;
    color: get_invert_clr($button-background-color);

    padding-bottom: $button-padding-vertical;
    padding-top: $button-padding-vertical;
    padding-left: $button-padding-horizontal;
    padding-right: $button-padding-horizontal;

    &:hover {
        background-color: lighten($button-background-color, 2.5%);
    }

    &:active {
        background-color: lighten($button-background-color, 5%);
    }

    @each $name, $pair in $colors {
        $color: nth($pair, 1);
        $color-invert: nth($pair, 2);

        &.is-#{$name} {
            background-color: $color;
            color: $color-invert;
            border-color: transparent;

            &:hover {
                background-color: darken($color, 2.5%);
            }
            &:active {
                background-color: darken($color, 5%);
            }
        }
    }
}
