$hue: 240;
$saturation: 3%;

// Shades
$black: hsl($hue, $saturation, 5%);
$black-bis: hsl($hue, $saturation, 10%);
$black-ter: hsl($hue, $saturation, 15%);

$grey-darker: hsl($hue, $saturation, 20%);
$grey-dark: hsl($hue, $saturation, 35%);
$grey: hsl($hue, $saturation, 50%);
$grey-light: hsl($hue, $saturation, 60%);
$grey-lighter: hsl($hue, $saturation, 70%);
$grey-lightest: hsl($hue, $saturation, 80%);

$white-ter: hsl($hue, $saturation, 90%);
$white-bis: hsl($hue, $saturation, 95%);
$white: hsl($hue, $saturation, 100%);

// Colors
$turquoise: hsl(171, 100%, 41%);
$purple: hsl(253, 76%, 53%);
$orange: hsl(14, 100%, 53%);
$yellow: hsl(49, 65%, 49%);
$green: hsl(153, 44%, 59%);
$cyan: hsl(207, 61%, 46%);
$blue: hsl(229, 59%, 56%);
$red: hsl(348, 86%, 61%);

// Typography
$size-1: 3rem;
$size-2: 2.5rem;
$size-3: 2rem;
$size-4: 1.5rem;
$size-5: 1.25rem;
$size-6: 1rem;
$size-7: 0.75rem;

$weight-light: 300;
$weight-normal: 400;
$weight-medium: 500;
$weight-semibold: 600;
$weight-bold: 700;

$radius: 4px;

// ---------------------------------------
// Derived Variables
// ---------------------------------------
@use "./functions" as *;

// Main Palette
$primary: $purple;
$primary-invert: get_invert_clr($primary);
$primary-light: get_light_clr($primary);
$primary-dark: get_dark_clr($primary);

$info: $cyan;
$info-invert: get_invert_clr($info);
$info-light: get_light_clr($info);
$info-dark: get_dark_clr($info);

$warning: $yellow;
$warning-invert: get_invert_clr($yellow);
$warning-light: get_light_clr($yellow);
$warning-dark: get_dark_clr($yellow);

$light: $white-ter;
$light-invert: get_invert_clr($light);

$dark: $black-bis;
$dark-invert: get_invert_clr($dark);

// Specifics
$border: $grey-lighter;
$border-hover: $grey-light;
$border-light: $grey-lightest;
$border-light-hover: $grey-light;

$text-color: $white-ter;
$background: $black-bis;

$size-small: $size-7;
$size-normal: $size-6;
$size-medium: $size-5;
$size-large: $size-4;

// colors
$colors: (
    'light': (
        $light,
        $light-invert,
    ),
    'dark': (
        $dark,
        $dark-invert,
    ),
    'primary': (
        $primary,
        $primary-invert,
        $primary-light,
        $primary-dark,
    ),
    'warning': (
        $warning,
        $warning-invert,
        rgba($dark, 50%),
        $warning-dark,
    ),
    'info': (
        $info,
        $info-invert,
        rgba($dark, 50%),
        $info-dark,
    ),
);

$sizes: ($size-1, $size-2, $size-3, $size-4, $size-5, $size-6, $size-7);
