@use "../abstract/variables/typography" as *;

$icon-size: 8px * 3 !default;

.icon {
    font-size: $text-base-size;
    position: relative;
    display: inline-block;

    text-align: center;
    vertical-align: middle;

    width: $icon-size;
    height: $icon-size;
}
