$icon-dimensions: 1.5rem;
$icon-text-spacing: 0.25em;

$icon-dimensions-small: 1rem;
$icon-dimensions-medium: 2rem;
$icon-dimensions-large: 3rem;

.icons {
    display: flex;

    align-items: center;
    justify-content: center;
}

.icon {
    padding: 0.125em;

    display: inline-flex;
    justify-content: center;
    align-items: center;
}
