@use "../abstract/variables" as *;

$tag-background-color: $dark;
$tag-padding: 0.5em;

.tags {
    display: flex;
    flex-direction: row;

    .tag {
        margin-left: 0.5em;
    }
}

.tag {
    display: inline-flex;
    text-align: center;
    border: none;
    white-space: nowrap;
    justify-content: center;

    border-radius: $radius;
    background-color: $tag-background-color;
    padding: $tag-padding;

}
