@use "../abstract/variables" as *;

html {
    min-width: 350px;

    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;

    overflow-x: hidden;
    overflow-y: scroll;

    text-rendering: optimizeSpeed;
    text-size-adjust: 100%;

    min-height: 100%;

    scrollbar-color: dark;
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 5px;
    height: 7px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: $grey-dark;
    border-radius: 2px;
}

body {
    background: linear-gradient(0deg, darken($background, 5%) 0%, lighten($background, 2.5%) 100%);

    font-family: BlinkMacSystemFont, -apple-system, 'Nunito', 'Roboto', 'Oxygen', 'Ubuntu', sans-serif;
    font-weight: $weight-normal;
    font-size: 16px;

    line-height: 1.5;
    color: $text-color;

    scrollbar-color: $primary $black-bis;
    scrollbar-width: thin;
}

section {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

img {
    border-radius: 5px;
}
